<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>??</text></svg>">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
    {% endblock %}
</head>

{% block body %}
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <form method="post" action="{{ path('app_register') }}">
        {{ form_start(registrationForm) }}

        {# Afficher les champs individuellement dans l'ordre souhaité #}
        {{ form_row(registrationForm.prenom) }}
        {{ form_row(registrationForm.nom) }}
        {{ form_row(registrationForm.num_tel) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword) }}
        {{ form_row(registrationForm.adresse) }}
        {{ form_row(registrationForm.agreeTerms) }}

        {# Bouton de soumission du formulaire #}
        <button type="submit" class="btn btn-outline-dark">Register</button>

        {{ form_end(registrationForm) }}
    </form>
{% endblock %}
