{% extends 'base.html.twig' %}

{% block stylesheets %}
{# CSS Pour les graphs #}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('js/bibliotheques/ApexChartsJS/dist/apexcharts.css') }}">
{% endblock %}

{% block body %}
    <section class="head">
        <div class="title">
            <h3>Dashboard</h3>
        </div>
        <div class="el">
            <div class="case">

            </div>
            <div class="case">

            </div>
            <div class="case">

            </div>
        </div>
    </section>
    <section class="home">
        <div class="top">
            <div class="case">

            </div>
            <div class="case">

            </div>
            <div class="case">

            </div>
        </div>
        <div class="middle">
            <div class="case">

            </div>
            <div class="case">
                <p>CA de l'année en cours : {{ chiffreAffaireAnneeEnCours }} €</p>
                <p>CA de l'année précédente : {{ chiffreAffaireAnneePrecedente }} €</p>
            </div>
            <div class="case">
                <p>CA du moi en cours : {{ chiffreAffaireMois }} €</p>
            </div>
            <div class="case">
            </div>
        </div>
        <div class="bottom">
            <div class="case">
                <p>graphique (courbe) chiffre d'affaire par mois :</p>
            </div>
            <div class="case">
                <p>TOP 3 des produits les plus vendus ce mois-ci :</p>

                <form id="formTopProduits" method="GET" hx-get="{{ path('dashBoardMeilleursProduits') }}" hx-trigger="submit" hx-target="#divTopProduits">
                    <div style="display:flex;">
                        <label for="anneeMois">Mois : </label>
                        <input type="month" id="anneeMois" name="anneeMois" min="2020-02" />
                        <label for="qteProduits"> Nombre de produits à afficher : </label>
                        <input type="number" id="qteProduits" name="qteProduits" min="1" value="3" />
                        <button type="submit"> Valider</button>
                    </div>
                </form>



                {# CONTENT DU GRAPH DES MEILLEURS PRODUITS DU MOIS #}
                <div id="divTopProduits"></div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
<script>
    // RECUPERE LA DATE ACUTELLE ET SET LA VALEUR PAR DEFAUT DE L'INPUT MONTH POUR LES MEILLEURS PRODUITS DU MOIS
    let currentDate = new Date();
    let formattedDate = currentDate.toISOString().slice(0, 7); // Format YYYY-MM
    document.getElementById("anneeMois").value=formattedDate;
</script>



<script src="{{ asset('js/bibliotheques/ApexChartsJS/dist/apexcharts.js') }}"></script>
{# SCRIPT POUR LE DASHBOARD #}
<script>

    document.addEventListener("DOMContentLoaded", function() {
        
        // RECUPRE LES PRODUITS ET LES QUANTITES POUR REMPLIR UNE PREMIERE FOIS LE GRAPH
        var produits = {
            nomProduits: [],
            quantites: []
        };
        {% for produit in MeilleursProduits %}
            produits.nomProduits.push('{{ produit.nom|escape('js') }}');
            produits.quantites.push({{ produit.quantite_vendue }});
        {% endfor %}


        // Données fictives pour le graphique
        var options = {
            series: [{
                name: 'Nombre d\'achats',
                data: produits.quantites
            }],
            chart: {
                height: 350,
                type: 'bar',
            },
            plotOptions: {
                bar: {
                    horizontal: false,
                    columnWidth: '50%',
                    endingShape: 'flat'
                },
            },
            dataLabels: {
                enabled: true,
                formatter: function (val) {
                    return val;
                },
                offsetY: -20,
                style: {
                    fontSize: '12px',
                    colors: ["#304758"]
                }
            },
            xaxis: {
                categories: produits.nomProduits,
                labels: {
                    style: {
                        fontSize: '12px'
                    }
                }
            },
            yaxis: {
                title: {
                    text: 'Nombre d\'achats',
                    offsetY: -10
                }
            },
            title: {
                text: 'TOP 3 des produits les plus vendus ce mois-ci :',
                floating: true,
                offsetY: 330,
                align: 'center',
                style: {
                    color: '#444'
                }
            }
        };

        var chart = new ApexCharts(document.querySelector("#divTopProduits"), options);
        chart.render();
    });

</script>

{% endblock %}
