{% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyIx7meW6pXaPhMlT2TbAB6ZfH6O99mJK9" crossorigin="anonymous">
    <!-- Ajoutez d'autres fichiers CSS personnalisés si nécessaire -->
    <link rel="stylesheet" href="{{ asset('style/css/pages/facture.css') }}">

    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        table, th, td {
            border: 1px solid black;
        }

        th, td {
            padding: 10px;
            text-align: center;
        }
    </style>
{% endblock %}


{% block body %}
    <table>
        <tr>
            <td>
                <div>
                    <h1>FACTURE</h1>
                </div>
            </td>
            <td>
                <div style="text-align: right;">
                    <img src="/images/logo_moulin.png" alt="Logo MDPDV" style="height: 30mm; width: 30mm;">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div >
                    Nom Prénom du boulanger<br/>
                    [Adresse de la boulangerie] <br/>
                    Tél: [Téléphone]<br/>
                    N° de siret: [....]<br/>
                    <br/><br/><br /><br/>
                </div>
            </td>
            <td>
                <div >
                    {{facture.user.nom }} {{facture.user.prenom}}<br/>
                    {{facture.user.adresse}}<br/>
                    {{facture.user.getNumTel()}}<br/>
                    {{facture.user.email}}<br />
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div>
                    Facture N°  {{facture.id}}  <br>
                    Date de livraison : {{facture.date|date("d/m/Y")}}  <br>
                    Date de la commande : a rajouter  <br><br/><br/>
                </div>
            </td>
            <td></td>
        </tr>
        <tr>
            <td colspan="2">
                <!-- Tableau imbriqué -->
                <table>
                    <thead>
                        <tr>
                            <th>Désignation</th>
                            <th>Quantité</th>
                            <th>Prix unitaire</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for factureProduit in facture.produits %}
                      <tr>
                                <td>{{ factureProduit.produit.nom }}</td>
                                <td>{{ factureProduit.quantite }} </td>
                                <td>{{ factureProduit.produit.prixUnitaire }}€</td>
                                <td>{{ factureProduit.quantite * factureProduit.produit.prixUnitaire }}€ </td>
                            </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <!-- Fin du tableau imbriqué -->
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <!-- Tableau imbriqué -->
                <table>
                    <tr>
                        <td>TOTAL NET</td>
                        <td>{{ facture.montant }}€</td>
                    </tr>
                    <tr>
                        <td>TVA</td>
                        <td>20,00%</td>
                    </tr>
                    <tr>
                        <td>Total TTC en €</td>
                        <td>{{ facture.montant + (facture.montant * 0.20) | round(2) }}€</td>
                    </tr>
                </table>
                <!-- Fin du tableau imbriqué -->
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <p>La loi n°92/1442 du 31 décembre 1992 nous fait l'obligation de vous indiquer que le non-respect des conditions de paiement entraine des intérêts de
                retard suivant modalités et taux défini par la loi. Une indemnité forfaitaire de 40€ sera due pour frais de recouvrement en cas de retard de paiement.
                </p>
            </td>
        </tr>
        <tr>
            <td colspan="2">Colonne 1 et Colonne 2, Ligne 2</td>
        </tr>
    </table>
{% endblock body %}

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js" integrity="sha384-fzxlYUn8D00rbzgAtNdTqF8FdXp1Wu9wvA8dql3lYu9uks5vYJL5s1BmmsbdTFT2" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+WyIx7meW6pXaPhMlT2TbAB6ZfH6O99mJK9" crossorigin="anonymous"></script>
{% endblock %}