{% extends 'user/userBase.html.twig' %}

{% block stylesheets %}
{#    {{ parent() }}#}
{% endblock %}

{% block body %}
     <section class="container">
    <h1>Bienvenue sur votre page profil :</h1>
    <div class="info">
        <h2>Informations de l'utilisateur</h2>
        <p>Nom: {{ user.nom }}</p>
        <p>Prénom: {{ user.prenom }}</p>
        <p>Telephone: {{ user.getNumTel() }}</p>
        <p>Adresse: {{ user.adresse }}</p>
        <p>Email: {{ user.email }}</p>
    </div>

    <div class="Histofactures">
        <h2>Historiques de vos factures</h2>
            {{ render(controller(
                'App\\Controller\\userController::factureUser'
            )) }}
    </div>
     </section>

{% endblock %}

{% block javascripts %}
    <script>
    </script>
{% endblock %}